@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
body {
	font-family: 'Fira Sans', sans-serif !important;
	font-size: 14px !important;  
	padding: 0 !important; 
	margin: 0 !important;
	font-style: normal;
    font-weight: normal !important;
    color: #4e4e4e !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
} 


.navbar-nav,
.mr-auto {
flex: 1;
margin: auto !important;
display: flex;
/*justify-content: space-between;*/
justify-content: center;
}